* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: #f4f4f4;
}

button {
  cursor: pointer;
}

.home-container,
.results-container,
.quiz-page {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.home-card,
.results-card {
  background: white;
  padding: 40px;
  border-radius: 20px;
  width: 100%;
  max-width: 450px;
  text-align: center;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
}

.home-card h1,
.results-card h1 {
  margin-bottom: 10px;
}

.home-card p {
  margin-bottom: 20px;
}

input {
  width: 100%;
  padding: 14px;
  border-radius: 10px;
  border: 1px solid #ccc;
  margin-bottom: 20px;
  font-size: 16px;
}

button {
  border: none;
  padding: 14px 20px;
  border-radius: 10px;
  background: black;
  color: white;
  font-size: 16px;
}

button:hover {
  opacity: 0.9;
}

.notebook-bg {
  width: 100%;
  max-width: 700px;
  min-height: 600px;
  background: repeating-linear-gradient(
    to bottom,
    #ffffff,
    #ffffff 30px,
    #d7e7ff 31px
  );
  border-radius: 20px;
  padding: 40px;
  position: relative;
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.15);
}

.notebook-bg::before {
  content: "";
  position: absolute;
  top: 0;
  left: 60px;
  width: 2px;
  height: 100%;
  background: rgba(255, 0, 0, 0.3);
}

.quiz-card {
  background: white;
  border-radius: 20px;
  padding: 30px;
  margin-top: 40px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
}

.category {
  display: inline-block;
  background: black;
  color: white;
  padding: 6px 12px;
  border-radius: 30px;
  margin-bottom: 20px;
}

.quiz-card h2 {
  margin-bottom: 30px;
  line-height: 1.5;
}

.options {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.option-btn {
  background: #f0f0f0;
  color: black;
  transition: 0.3s;
}

.option-btn:hover {
  background: black;
  color: white;
}

.timer {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 20px;
}

.next-btn {
  margin-top: 20px;
  width: 100%;
}

.loading {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
